.product-item{
    display: flex;
    justify-content: center
}

.product-item__inner{
    transition: all ease .3s;
}

.bg-img-huincha{
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    object-fit: cover;
    height: 150px;
    display: flex;
    justify-content: center;
}

.title-huincha{
    position: relative;
    margin-right: 20px;
    line-height: 35px;
    width: 70%;
    text-align: center ;
}

.info-huincha{
    margin-left: 40%;
    margin-right: 50px;
    margin-bottom: 10px;
    line-height: 1px;
    padding: 5px 35px;
}

.img-section{
    height: 616px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    margin: 0px auto;
}

.img-section h1{
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #4d2600;
}

.title-img-section h1:first-child{
    font-size: 38px;
}

.title-img-section h1:last-child{
    font-size: 33px;
    line-height: 0;
}

.title-img-section{
    padding-top: 40px;
}

.price-section{
    margin-top: 30px;
}

.price-section h6{
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 33px;
    text-align: left;
    color: #4d2600;
}

.price-section h1{
    line-height: 0;
    font-weight: bolder;
    font-size: 58px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 50px;

}

.price-section h5{
    line-height: 0;
    font-weight: bolder;
    margin-left: 33px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 13px;
    color: #4d2600;
}

.card-tienda{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
}

.card-tienda .img-tienda{
    position: relative;
    width: 300px;
    height: 260px;
    background-repeat: no-repeat;
}

.card-tienda .status{
    position: absolute;
    bottom: 0;
    background: #f5ae19;
    padding: 10px 0;
    width: 60%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.card-tienda .tienda-informacion{
    margin-left: 60px;
    margin-top: 0;
}

.card-tienda .tienda-informacion h2{
    font-weight: bold;
    margin-bottom: 10px;
}

@media(max-width:767px){
    .title-huincha{
        width: 50%;
        font-size: 18px;
        line-height: 25px;
    }

    .info-huincha{
        padding: 5px 20px;
    }

    .txt-huincha{
        font-size: 12px;
    }

    .txt-precio-huincha{
        font-size: 25px;
    }
}

@media(max-width: 766px){
    .card-tienda{
        height: 580px;
        width: 90%;
        flex-wrap: wrap;
    }
    .card-tienda .tienda-informacion{
        margin-left: 20px;
    }
}

@media(max-width: 670px){
    .card-tienda{
        height: 580px;
    }
    .card-tienda .tienda-informacion{
        margin-left: 10px;
    }
}

@media(max-width: 647px){

    .card-tienda .tienda-informacion{
        margin-left: 0;
    }
}

@media(max-width: 566px){

}

@media(max-width: 532px){
    .title-huincha{
        font-size: 20px;
        padding: 0px 10px;
    }
    .info-huincha{
        margin-left: 0;
    }
}

@media(max-width: 416px){
    .title-huincha{
        line-height: 20px;
        width: 45%;
        font-size: 16px;
    }

    .txt-huincha{
        font-size: 10px;
    }

    .txt-precio-huincha{
        font-size: 20px;
    }
    .card-tienda .img-tienda{
        zoom: 90%;
    }
}

@media(max-width: 425px){
    .card-tienda{
    }
}